
.addLists{
    padding-bottom: 30px;
}
.body_div{
    display: flex;
    justify-content: space-between;
}
.noBorder{
    border: none;
    font-size: 150%;
    font-weight: 200;
}
.body2{
    display:flex;
    justify-content: space-between;
}